
  <h3 mat-dialog-title style="margin-left: 5%;">Adding a new song</h3>
  <hr>
<form [formGroup]="userForm" class="example-container" (ngSubmit)="onSubmit()">
  <mat-form-field style="width:80%" appearance="outline">
    <mat-label>Artist Name</mat-label>
    <input matInput formControlName="artistName" required>
    <mat-error *ngIf="errorHandling('artistName', 'required')">
      Please enter artist name
   </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field style="width:80%" appearance="outline">
    <mat-label>Date of Birth</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="errorHandling('dateOfBirth', 'required')">
      Please search valid date
   </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field style="width:80%" appearance="outline">
    <mat-label>Bio</mat-label>
    <textarea matInput formControlName="bio" required></textarea>
    <mat-error *ngIf="errorHandling('dateOfBirth', 'required')">
      Please Select Artist Name
   </mat-error>
  </mat-form-field>
  <br>
    <button mat-button style="background-color: rgb(59, 58, 58);color: white;" (click)="onNoClick()">Cancel</button>
    <button mat-button style="background-color: teal;color: white;margin: 2%;" [disabled]="!userForm.valid" type="submit">Save</button>

</form>
