.example-container{
    margin-left: 5%;
    
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Choose Files';
    display: inline-block;
    background-color: rgb(36, 211, 211);
    color: white;
    border: 1px solid rgb(36, 211, 211);;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    margin-right: 15%;
  }
  